<a href="https://colab.research.google.com/github/JSEFERINO/Estadistica_Moderna/blob/main/01_C_Datos_Declaraci%C3%B3n_de_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Curso Introductorio a la Ciencia de Datos por Julio Hurtado Márquez**
- Python tiene por defecto un editor de texto llamado _idle_
## **Parte I**

In [ ]:
import pandas as pd
import numpy as np

# **Clase No. 1: Introducción Informal**

# **1. Declaración de Variables**
* Deben ir acompañadas por el signo igual (=) y no Deben comenzar por números
- - Incorrecto 2x = "Hola"
- - Correcto x2 = "Hola" o x_2="Hola"

In [ ]:
# Algunos objetos en Python

"Hola Mundo" # Una expresión
[1, 10, 100] # Una lista
-25          # Un entero
1.167       # Un real
["Hola", "Mundo"]  #una lista
' '        # Un espacio en blanco

' '

# **2. Hello world: función print()**
- Para mostrar un mensaje en pantalla
* En Python se usa la función "_print()_" para imprimir valores en la consola o en un archivo de salida.
Codigo print()

In [ ]:
print("Hello world")

Hello world

In [ ]:
"Hello world" # sin usar print

'Hello world'

In [ ]:
print("Julio Hurtado") # imprime frase

Julio Hurtado

In [ ]:
edad = 25
print(edad)

25

In [ ]:
edad

25

In [ ]:
nombre = 'Julio'
edad   = 25
print("Me llamo",nombre,"y tengo cumplidos", edad, 'años cumplidos')

Me llamo Julio y tengo cumplidos 25 años cumplidos

# **3. Tipos de Datos: Función type** -
* En Python, existen varios tipos de datos. Los mas comunes:
- - Números: entero (int)
- - - Son números enteros.
- - Flotante (float)
- - - son números decimales, se pueden representar por notación científica.
- - Cadena de Texto (str)
- - - Son secuencia de caracteres que se utilizan para representar texto. Se pueden oncluir letras, números, símbolos y espacios.
- - Valores Booleanos.
- - - Son valores que pueden ser Verdadero (True) o Falso (False). Se utilizan comunmeente en expresiones condicionales y operaciones lógicas.

# **a. Numéricos**

In [ ]:
type(1) # Conocr el tipo de variable

int

In [ ]:
type(2.5) # tipo de datos float o decimal

float

In [ ]:
1+2 #Operaciones
3*5
4/5

0.8

In [ ]:
type(True)

bool

In [ ]:
type(False)

bool

# **b. Cadena de texto**

In [ ]:
type("Julio Hurtado") # str cadena de texto

str

# **4. Declaración de valores desde Teclado**

* Para declarar un valor desde el teclado primero debemos definir una variable, a continuación debemos utilizar estas palabaras:
- - int(): Se utiliza prar transformar un dato de tipo texto en númerico entero.
- - float(): Se utiliza prar transformar un dato de tipo texto en númerico con decimal.
- - input(): Permite ingresa datos tipo Texto.

In [ ]:
a = input("Ingrese su nombre ")
b = int(input('Ingrese su edad en años cumplidos '))
c = float(input("Ingrese su estatura en metros "))
print("Mi nombre es", a,"tengo cumplidos",b,'años.', "Mi estatura es",c, 'metros' )

Ingrese su nombre Julio
Ingrese su edad en años cumplidos 54
Ingrese su estatura en metros 1.74
Mi nombre es Julio Tengo cumplidos 54 años Mi estatura en metros es 1.74 metros

# **5. Operadores Matemáticos**
- - "+": Suma
- - "-": Resta
- - "*": Multiplicación
- - "/": División
- - "%": Resto de la División
- - "//": El cociente entero de la división
- - "**": Potencia
* Nunca se deben usar corchetes o llaves para expresiones algebraicas solo ()

## **a. Expresión aritmética**

In [ ]:
## **a. Expresión aritmética**
operación = ((2*4)/6+2**3)/(2+5)
print("El resultado de esta operacion es", operación)

El resultado de esta operacion es 1.3333333333333335

## **b. Determina mentalmente (sin programar) el resultado que aparecerá por pantalla a partir de las siguientes variables:**

In [ ]:
## **b. Determina mentalmente (sin programar) el resultado que aparecerá por pantalla a partir de las siguientes variables:**
a = 10
b = -5
c = "Hola "
d = [1, 2, 3]
print(a * 5)
print(a - b)
print(c + "Mundo")
print(a ** 5)
print(c * 2)
print(c[-1])
print(c[1:])
print(d + d)
print([5] + d)
print(5 * d)

50
15
Hola Mundo
100000
Hola Hola

ola
[1, 2, 3, 1, 2, 3]
[5, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

# **c. Expresiones algebraicas**

In [ ]:
# **c. Expresiones algebraicas**

A = int(input('Ingrese el valor de A ='))
B = int(input('Ingrese el valor de B = '))
operación = ((A+B)**(B-A))/((A-B)**(A+B))
print("El resutado de la operación es", operación)

Ingrese el valor de A =5
Ingrese el valor de B = 8
El resutado de la operación es -0.0013780143672267164

# **d. Comprobar que 2 y 3 son las raíces del polinomio $P(x)=x^2-5x+6$**

In [ ]:
# **d. Comprobar que 2 y 3 son las raíces del polinomio {P(x)=x^2-5x+6}**
x = int(input('Ingrese el valor de x = '))
Polinomio = x**2-5*x+6
if Polinomio == 0:
 print("El valor de x",x, 'es una raiz del polinomio porque su evaluación ',Polinomio,'es igual a cero')
else:
  print("El valor de x =",x, 'no es una raiz del polinomio porque su evaluación ', Polinomio,'es diferente a cero')

Ingrese el valor de x = 5
El valor de x = 5 no es una raiz del polinomio porque su evaluación  6 es diferente a cero

# **e. Ejercicio: Halle todas las raices de los polinomios:**
* $P(x) = x^2-6x + 8$
* $P(x)= x^2-x-6$
* $P(x) = x^3 + 3x^2-4x-12$
* $P(x) = x^4-10x^2 + 9$

# **6. Mayuscula: Función .upper()**
## **a. Pasar todo a Mayuscula: Función .upper()**

In [ ]:
# **a. Pasar todo a Mayuscula: Función .upper()**
"Julio Hurtado".upper()

'JULIO HURTADO'

## **b. Ejercicio. Pasar todo a Mayuscula**
- La ciencia de datos es un campo académico interdisciplinario que utiliza estadística, computación científica, métodos, procesos, algoritmos y sistemas científicos para obtener (recolectar o extraer), tratar, analizar y presentar informes a partir de datos ruidosos, estructurados y no estructurados.

In [ ]:
'La ciencia de datos es un campo académico interdisciplinario que utiliza estadística, computación científica, métodos, procesos, algoritmos y sistemas científicos para obtener (recolectar o extraer), tratar, analizar y presentar informes a partir de datos ruidosos, estructurados y no estructurados.'.upper()

'LA CIENCIA DE DATOS ES UN CAMPO ACADÉMICO INTERDISCIPLINARIO QUE UTILIZA ESTADÍSTICA, COMPUTACIÓN CIENTÍFICA, MÉTODOS, PROCESOS, ALGORITMOS Y SISTEMAS CIENTÍFICOS PARA OBTENER (RECOLECTAR O EXTRAER), TRATAR, ANALIZAR Y PRESENTAR INFORMES A PARTIR DE DATOS RUIDOSOS, ESTRUCTURADOS Y NO ESTRUCTURADOS.'


# **7. minuscula: Función .lower()**

In [ ]:
"Julio Hurtado".lower()

'julio hurtado'

In [ ]:
'La ciencia de datos es un campo académico interdisciplinario que utiliza estadística, computación científica, métodos, procesos, algoritmos y sistemas científicos para obtener (recolectar o extraer), tratar, analizar y presentar informes a partir de datos ruidosos, estructurados y no estructurados.'.lower()

'la ciencia de datos es un campo académico interdisciplinario que utiliza estadística, computación científica, métodos, procesos, algoritmos y sistemas científicos para obtener (recolectar o extraer), tratar, analizar y presentar informes a partir de datos ruidosos, estructurados y no estructurados.'


# **8. Pasar primeras letras a Mayuscula: Función .title()**

In [ ]:
"cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira".title()

'Cartagena, Barranquilla, Santa Marta, Montería, Sincelejo, Valledupar, Guajira'

In [ ]:
print("cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira".title())

Cartagena, Barranquilla, Santa Marta, Montería, Sincelejo, Valledupar, Guajira

In [ ]:
'La ciencia de datos es un campo académico interdisciplinario que utiliza estadística, computación científica, métodos, procesos, algoritmos y sistemas científicos para obtener (recolectar o extraer), tratar, analizar y presentar informes a partir de datos ruidosos, estructurados y no estructurados.'.title()

'La Ciencia De Datos Es Un Campo Académico Interdisciplinario Que Utiliza Estadística, Computación Científica, Métodos, Procesos, Algoritmos Y Sistemas Científicos Para Obtener (Recolectar O Extraer), Tratar, Analizar Y Presentar Informes A Partir De Datos Ruidosos, Estructurados Y No Estructurados.'

#**9. Función _count_ para contar**

# **a. Contando el numero de letras "a"**

In [ ]:
# **a. Contando el numero de letras "a"**
"cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira".count("a")

15

In [ ]:
ciudad_c = "cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira"
ciudad_c

'cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira'

In [ ]:
ciudad_c.count("a")

15

# **b. Contando el numero de letras "c"**

In [ ]:
# **b. Contando el numero de letras "c"**
"cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira".count("c")

2

# **c. Contando el numero de letras "a" en un párrafo**

In [ ]:
# **c. Contando el numero de letras "a" en un párrafo**
c_datos = 'La ciencia de datos es un campo académico interdisciplinario que utiliza estadística, computación científica, métodos, procesos, algoritmos y sistemas científicos para obtener (recolectar o extraer), tratar, analizar y presentar informes a partir de datos ruidosos, estructurados y no estructurados.'

In [ ]:
c_datos.count("a")

29

In [ ]:
abc = ["a", "b","c", "d","e", "f","g", "h","i", "j","k", "l","m", "n","o", "p","q", "r","s", "t","u", "v", "x", "y","z", "ñ", "w"]
len(abc)

27

In [ ]:
# **d. El abecedario del español queda así reducido a las veintisiete letras siguientes:**
abc
c_datos
for letra in abc:
  frecuencia = c_datos.count(letra)
  print('letra ', letra, 'frecuencia', frecuencia)

letra  a frecuencia 29
letra  b frecuencia 1
letra  c frecuencia 18
letra  d frecuencia 11
letra  e frecuencia 22
letra  f frecuencia 3
letra  g frecuencia 1
letra  h frecuencia 0
letra  i frecuencia 22
letra  j frecuencia 0
letra  k frecuencia 0
letra  l frecuencia 5
letra  m frecuencia 7
letra  n frecuencia 12
letra  o frecuencia 22
letra  p frecuencia 7
letra  q frecuencia 1
letra  r frecuencia 23
letra  s frecuencia 22
letra  t frecuencia 23
letra  u frecuencia 9
letra  v frecuencia 0
letra  x frecuencia 1
letra  y frecuencia 3
letra  z frecuencia 2
letra  ñ frecuencia 0
letra  w frecuencia 0

# **10. Reemplazar una letra: funcion replace**

In [ ]:
"cartagena, barranquilla, santa marta, montería, sincelejo, valledupar, guajira".replace("a","o")

'cortogeno, borronquillo, sonto morto, monterío, sincelejo, volledupor, guojiro'