<a href="https://colab.research.google.com/github/JSEFERINO/C_Datos/blob/main/2_C_Datos_Listas_Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Curso Introductorio a la Ciencia de Datos por Julio Hurtado Márquez**
## **Parte I**

In [ ]:
import pandas as pd
import numpy as np

# **Clase No. 2: Introducción Informal**

# **11. Variables**

# **a. Creando variables - simbolo =**

In [ ]:
message_1 = "Dayana esta de pasantía en Corea del Sur"
message_1

'Dayana esta de pasantía en Corea del Sur'

In [ ]:
message_2 = "y Aris esta realizando sus estudios doctorales"
message_2

'y Aris esta realizando sus estudios doctorales'

In [ ]:
message_3 = "Mi esposa y yo estamos muy felices"
message_3

'Mi esposa y yo estamos muy felices'

# **b. Concatenando variables: simbolo +**

In [ ]:
message_1+message_2+message_3 # Los mensajes no se encuentran separados

'Dayana esta de pasantía en Corea del Sury Aris esta realizando sus estudios doctoralesMi esposa y yo estamos muy felices'

#**c. Creando el espacio**

In [ ]:
message_1+" " +message_2 +" "+message_3 # Los mensajes fueron separados

'Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales Mi esposa y yo estamos muy felices'

# **d. Concatenando texto con la cadena f"{}"**

In [ ]:
f"{message_1} {message_2}" # se deja un espacio entre las comillas

'Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales'

In [ ]:
f"{message_1} {message_2}. {message_3}" #Colocamos un punto al final del mensaje 2

'Dayana esta de pasantía en Corea del Sur y Aris esta realizando sus estudios doctorales. Mi esposa y yo estamos muy felices'

#**12. Listas**
- Las listas nos permiten almacenar cualquier tipo de valor como numeros enteros, numeros con decimal, valores booleanos y cadenas de texto
- Los corchetes unicamente funcionan para crear listas
- Su estructura es la siguiente
- Lista = [4, 5, 7, "Hola", "Julio", 3.85]

- **Un vistazo a los diferentes métodos**.
Puedes utilizar los siguientes métodos en tu lista de Python. Probablemente ya conozcas algunos de ellos si leíste el tutorial para aprender Python.

|Método	|Descripción|
|:--:|:--:|
|Append|	Añade un elemento al final de la lista.|
|Clear|	Elimina todos los elementos de la lista de Python.|
|Copy	|Realiza una copia de tu lista.|
|Count	|Cuenta todos los elementos con un determinado valor en la lista de Python.|
|Extend	|Añade todos los elementos de otra lista a la lista actual.|
|Index	|Busca un elemento específico dentro de la lista de Python y retorna su número de índice.|
|Insert|	Inserta un elemento en una posición determinada.|
|Pop	|Elimina un elemento de una posición concreta y lo utiliza como valor de retorno.|
|Remove	|Elimina el primer elemento que tiene un valor específico.|
|Reverse|	Invierte el orden de la lista de Python.|
|Sort|	Ordena la lista.|

#**a. Creando listas**
## **Una lista con las ciudades capitales de Colombia**

In [ ]:
ciudad = ["Cartagena", "Barranquilla", "Santa Marta", "Montería", "Sincelejo", "Valledupar", "Riohacha"]
ciudad

['Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha']

In [ ]:
dpto = ["Bolívar", "Atlántico", "Magdalena", "Córdoba", "Sucre", "Cesar", "Guajira"]
dpto

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

# **b. Como vamos a trabajar con las listas, creemos una copia de ellas**

In [ ]:
ciudad_2 = ciudad.copy()
ciudad_2

['Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha']

In [ ]:
dpto_2 = dpto.copy()
dpto_2

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

#**b. Indexación: En python se comienza con el número 0**

## **Vamos a localizar elementos particulares en las listas**

### **Quienes ocupan las primeras posiciones en cada lista**

In [ ]:
# Posición inicial
ciudad[0], dpto[0]

('Cartagena', 'Bolívar')

In [ ]:
# Posición 2
ciudad[1], dpto[1]

('Barranquilla', 'Atlántico')

In [ ]:
# Posición 7
ciudad[6], dpto[6]

('Riohacha', 'Guajira')

## **En orden contrario usamos el negativo**

In [ ]:
# Posición Final
ciudad[-1], dpto[-1]

('Riohacha', 'Guajira')

In [ ]:
ciudad[-5], dpto[-5]

('Santa Marta', 'Magdalena')

#**c. Rebanada / Slicing**

## **Las tres primeras posiciones en las listas**

In [ ]:
ciudad[0:3],dpto[0:3]# recuerden que la posición 3 es obviado, la lista termina en uno menos

(['Cartagena', 'Barranquilla', 'Santa Marta'],
 ['Bolívar', 'Atlántico', 'Magdalena'])

In [ ]:
dpto[-3:-1]# la posición -1 se omite

['Sucre', 'Cesar']

In [ ]:
ciudad, ciudad[3:] # Posición tres en adelante

(['Cartagena',
  'Barranquilla',
  'Santa Marta',
  'Montería',
  'Sincelejo',
  'Valledupar',
  'Riohacha'],
 ['Montería', 'Sincelejo', 'Valledupar', 'Riohacha'])

## **Posición acumulada**

In [ ]:
ciudad[:3] #Hasta la posición 2 porque la cuenta empieza desde cero

['Cartagena', 'Barranquilla', 'Santa Marta']

In [ ]:
dpto, dpto[:3]

(['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira'],
 ['Bolívar', 'Atlántico', 'Magdalena'])

# **d. Operaciones y métodos: append**
* *Append	Añade un elemento al final de la lista.*

---

In [ ]:
ciudad = ["Cartagena", "Barranquilla", "Santa Marta", "Montería", "Sincelejo", "Valledupar", "Riohacha"]
ciudad

['Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha']

## **Añadir la ciudad de Bogotá**

In [ ]:
ciudad.append("Bogotá")
ciudad

['Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha',
 'Bogotá',
 'Bogotá']

In [ ]:
ciudad[7]

'Bogotá'

## **Añadir el Dpto. de Cundinamarca**

In [ ]:
dpto = ["Bolívar", "Atlántico", "Magdalena", "Córdoba", "Sucre", "Cesar", "Guajira"]
dpto

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

In [ ]:
dpto.append("Cundinamarca")
dpto

['Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira',
 'Cundinamarca']

In [ ]:
dpto[7]

'Cundinamarca'

# **e. Operaciones y métodos: insert**

* **Insert**:	Inserta un elemento en una posición determinada.

## **Insertar Medellin en la posición inicial de _ciudad_**

In [ ]:
ciudad.insert(0, "Medellin")
ciudad

['Medellin',
 'Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha',
 'Bogotá',
 'Bogotá']

## **Insertar Antioquia en la posición inicial de _Dpto_**

In [ ]:
dpto.insert(0,"Antioquia")
dpto

['Antioquia',
 'Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira',
 'Cundinamarca']

# **Vamos a concatenar ciudad con Dpto**

## **Usando la cadena _f_**

In [ ]:
f"{ciudad} {dpto}"

"['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá', 'Bogotá'] ['Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']"

In [ ]:
print(f"{ciudad} {dpto}")

['Medellin', 'Cartagena', 'Barranquilla', 'Santa Marta', 'Montería', 'Sincelejo', 'Valledupar', 'Riohacha', 'Bogotá', 'Bogotá'] ['Antioquia', 'Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira', 'Cundinamarca']

## **sumamos ambas listas**

In [ ]:
ciudad + dpto # Concatenar dos listas

['Medellin',
 'Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha',
 'Bogotá',
 'Bogotá',
 'Antioquia',
 'Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira',
 'Cundinamarca']

#**f. Listas anidadas**

In [ ]:
region = [ciudad, dpto]
region

[['Medellin',
  'Cartagena',
  'Barranquilla',
  'Santa Marta',
  'Montería',
  'Sincelejo',
  'Valledupar',
  'Riohacha',
  'Bogotá',
  'Bogotá'],
 ['Antioquia',
  'Bolívar',
  'Atlántico',
  'Magdalena',
  'Córdoba',
  'Sucre',
  'Cesar',
  'Guajira',
  'Cundinamarca']]

#**g. Eliminar elementos de una lista usando remove(), pop(), del**

In [ ]:
# Conservemos nuestras ciudades originales
ciudad3 =ciudad.copy()
ciudad3

['Medellin',
 'Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha',
 'Bogotá',
 'Bogotá']

# **Usando -remove_**
- _Remove_:  	Elimina el primer elemento que tiene un valor específico.

In [ ]:
# Vamos a eliminar Bogota
ciudad.remove("Bogotá") # Usando remove()
ciudad

['Medellin',
 'Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha']

In [ ]:
# Agregemos cundinamarca
dpto = ["Bolívar", "Atlántico", "Magdalena", "Córdoba", "Sucre", "Cesar", "Guajira"]
dpto.append('Cundinamarca')
dpto

['Bolívar',
 'Atlántico',
 'Magdalena',
 'Córdoba',
 'Sucre',
 'Cesar',
 'Guajira',
 'Cundinamarca']

## **_Pop_	Elimina un elemento de una posición concreta y lo utiliza como valor de retorno.**

In [ ]:
# Removamos Cundinamarca
dpto.pop(7) # Usando pop()
dpto

['Bolívar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

## **-del_ tambien es util para eliminar una posión de la lista**

In [ ]:
del ciudad[0]
ciudad

['Cartagena',
 'Barranquilla',
 'Santa Marta',
 'Montería',
 'Sincelejo',
 'Valledupar',
 'Riohacha']

In [ ]:
del dpto[0]
dpto

['Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

In [ ]:
dpto.insert(0,'Bolivar')
dpto

['Bolivar', 'Atlántico', 'Magdalena', 'Córdoba', 'Sucre', 'Cesar', 'Guajira']

#**h. Ordenar una lista: sort() y reverse()**

- **Reverse**
- - Invierte el orden de la lista de Python.
- **Sort**
- - Ordena la lista.

In [ ]:
# Creamos una lista d numeros
numeros = [1, 4, 7, 2,9,6, 3,6,7]
numeros

[1, 4, 7, 2, 9, 6, 3, 6, 7]

In [ ]:
# ordenamos la lista
numeros.sort()
numeros

[1, 2, 3, 4, 6, 6, 7, 7, 9]

In [ ]:
# Revertimos el orden
numeros.sort(reverse = True)
numeros

[9, 7, 7, 6, 6, 4, 3, 2, 1]

In [ ]:
#creamos otra lista
numeros2 = [1, 4, 7, 2,9,6, 3,6,7, 3, 4, 5,8, 9,4,6,2]
numeros2.reverse() #Revertimos el orden
numeros2

[2, 6, 4, 9, 8, 5, 4, 3, 7, 6, 3, 6, 9, 2, 7, 4, 1]

In [ ]:
# Ordemamos la lista
numeros2.sort()
numeros2

[1, 2, 2, 3, 3, 4, 4, 4, 5, 6, 6, 6, 7, 7, 8, 9, 9]

In [ ]:
# Remplazamos la posición 3 por 5
numeros2[3] = 5
numeros2

[1, 2, 2, 5, 3, 4, 4, 4, 5, 6, 6, 6, 7, 7, 8, 9, 9]

In [ ]:
numeros2.sort(reverse = True)
numeros2

[9, 9, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 2, 2, 1]

In [ ]:
numeros2[1] = 18
numeros2

[9, 18, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 2, 2, 1]

In [ ]:
numeros2.sort(reverse = True)
numeros2

[18, 9, 8, 7, 7, 6, 6, 6, 5, 5, 4, 4, 4, 3, 2, 2, 1]

# **13. Diccionarios**
## **¿Qué es un diccionario en Python?**

- Los diccionarios en Python nos permiten almacenar una serie de mapeos entre dos conjuntos de elementos, llamados keys and values (Claves y Valores).

- Todos los elementos en el diccionario se encuentran encerrados en un par de corchetes {}.
- Cada elemento en un diccionario contiene una clave y un valor - es decir un par de clave-valor.
- Cada par de clave-valor es denominado como elemento (item).
- La ventaja de esto es que puedes acceder a todos los valores almacenados usando simplemente las claves.

## **a. Estructura de un diccionario**

In [ ]:
## **a. Estructura de un diccionario**
mi_diccionario = {"key1":"value1","key2":"value2"}

## **b. Los Cumpleaños en mi Familia**

In [ ]:
## **b. Los Cumpleaños en mi Familia**
cumpleaños = {"Papá":"6 de Febrero", "Mamá":"23 de Septiembre", "Hija_mayor":"21 de Marzo", "Hija_menor":"21 de Julio"}
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio'}

## **c. ¿Cuando cumple Papá?**

In [ ]:
## **c. ¿Cuando cumple Papá?**
cumpleaños["Papá"]

'6 de Febrero'

## **d. ¿Cuando cumple la hija menor?**

In [ ]:
## **d. ¿Cuando cumple la hija menor?**
cumpleaños["Hija_menor"]

'21 de Julio'

## **e. ¿Los miembros de mi familia?**

In [ ]:
## **e. ¿Los miembros de mi familia?**
cumpleaños.keys()

dict_keys(['Papá', 'Mamá', 'Hija_mayor', 'Hija_menor'])

In [ ]:
## **f. ¿las fechas de cumpleaños?**
cumpleaños.values()

dict_values(['6 de Febrero', '23 de Septiembre', '21 de Marzo', '21 de Julio'])

## **g. Los items del diccionario**

In [ ]:
## **g. Los items del diccionario**
cumpleaños.items()

dict_items([('Papá', '6 de Febrero'), ('Mamá', '23 de Septiembre'), ('Hija_mayor', '21 de Marzo'), ('Hija_menor', '21 de Julio')])

#**h. Podemos Agregar**

### **Recordemos los cumpleaños de mi familia**

In [ ]:
### **Recordemos los cumpleaños de mi familia**
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio'}

## **Agregamos el cumpleaños de la abuela paterna**

In [ ]:
## **Agregamos el cumpleaños de la abuela paterna**
cumpleaños["Abuela_P"] = "4 de Mayo"
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo'}

## **Agregamos el cumpleaños de la abuela materna**

In [ ]:
## **Agregamos el cumpleaños de la abuela materna**
cumpleaños["Abuela_M"] = "16 de Febrero"
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero'}

## **Agregamos el cumpleaños de las mascotas**

In [ ]:
## **Agregamos el cumpleaños de las mascotas**
cumpleaños["Mascota_1"] = "10 de Diciembre"
cumpleaños["Mascota_2"] = "21 de Septiembre"
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre'}

## **i. Hagamos una copia de mi diccionario**

In [ ]:
## **i. Hagamos una copia de mi diccionario**
cumpleaños2 = cumpleaños.copy()
cumpleaños2

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre'}

#**j. Vamos Actualizar la información**

In [ ]:
cumpleaños.update({"Parentesco":["Papa", "Mama", "Hija mayor", "Hija menor", "Abuela Paterna", "Abuela Materna", 'Mascota_1', 'Mascota_2']})
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre',
 'Parentesco': ['Papa',
  'Mama',
  'Hija mayor',
  'Hija menor',
  'Abuela Paterna',
  'Abuela Materna',
  'Mascota_1',
  'Mascota_2']}

#**k. Eliminar elementos del diccionario: pop, del, clear**

In [ ]:
# **Recordemos nuestro diccionario**
cumpleaños

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero',
 'Mascota_1': '10 de Diciembre',
 'Mascota_2': '21 de Septiembre',
 'Parentesco': ['Papa',
  'Mama',
  'Hija mayor',
  'Hija menor',
  'Abuela Paterna',
  'Abuela Materna',
  'Mascota_1',
  'Mascota_2']}

In [ ]:
## **a. Eliminemos del dicionario las mascotas**
cumpleaños3 = cumpleaños.copy()
cumpleaños3.pop("Mascota_2")
cumpleaños3

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero',
 'Mascota_1': '10 de Diciembre',
 'Parentesco': ['Papa',
  'Mama',
  'Hija mayor',
  'Hija menor',
  'Abuela Paterna',
  'Abuela Materna',
  'Mascota_1',
  'Mascota_2']}

In [ ]:
del cumpleaños3["Parentesco"]

In [ ]:
cumpleaños3

{'Papá': '6 de Febrero',
 'Mamá': '23 de Septiembre',
 'Hija_mayor': '21 de Marzo',
 'Hija_menor': '21 de Julio',
 'Abuela_P': '4 de Mayo',
 'Abuela_M': '16 de Febrero',
 'Mascota_1': '10 de Diciembre'}

In [ ]:
cumpleaños3.clear()#elimina los item de un diccionario

In [ ]:
cumpleaños3

{}